* {
  font-family: "Poppins", sans-serif;
  color: #464646;
}

body {
  display: flex;
  /*   justify-content: space-between; */
  /* margin: 10px 27% 6% auto !important; */
  /* width: 595px;
  height: 842px; */
  background-color: rgb(216, 216, 216) !important;
  /* border: solid 1px black; */
}

.curriculo {
  display: flex;
  justify-content: space-between;

  margin: 10px auto 10px auto;
  width: 595px;
  height: 842px;
  background-color: white;
  box-shadow: 8px 8px 8px #c5c5c5;
  border-radius: 15px;
}

header {
  width: 310px;
  height: 122px;
  /*  border: solid 1px black; */
  
  margin-top: 22px;
}

img {
  display: flex;
  margin: 10px 0px;
  position: absolute;
  width: 60px;
  height: 60px;

  border-radius: 10px;
  box-shadow: 2px 2px 2px #c5c5c5;
}

.nome {
  font-size: auto;
}

.esquerda {
  display: flex;
  justify-content: left;
  /*  border: solid 1px black; */
  width: 550px;
  height: 842px;
  margin-left: 35px;
  
  background-color: white;
  
}

.direita {
  display: flex;
  justify-content: space-between;
  /*   border: solid 1px red; */
  width: 240px;
  
  

  text-align: left;
}

h1,
span {
  background-color: white;
  /* margin-left: 5.5rem; */
}

h1 {
  font-size: 20px;
  margin-top: 22px;
  margin-bottom: -5px;
  margin-left: 70px;
  padding-bottom: 0px;
}

.dev {
  font-size: 13px;
  margin-left: 70px;
  padding-top: 0px;
}

.contato {
  border-left: 2px dashed rgb(189, 189, 189);
  padding-left: 15px;
  padding-top: 20px;
  
  display: flexbox;
  justify-content: center;
}

.cont {
  padding-left: 0px;
  font-size: 11px;
  
}
h4 {
  font-size: 15px;
}
.idioma {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 30px;
}
.idiom {
  font-size: 11px;
}

.softskil {
  font-size: 15px;
  margin-bottom: 5px;
}
.softspan {
  font-size: 11px;
}
main{
    display: flex;
}
.skill {
  font-size: 15;
  margin-bottom: 5px;
}
.hskil {
  font-size: 11px;
}

.bio {
  width: 360px;
  height: 56px;
  margin-top: 25px;
  text-align: justify;
  font-size: 10px;
  line-height: 11.5px;
}
.experiencia {
  
  width: 360px;
  height: 406px;
  margin-top: -15px;
}
.exp {
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: -3px;
}

.expSpan{
  font-size: 9px;
  font-style: normal;
  margin-top: 2px;
  color: #8f8f8f;
}
.spanText {
  font-size: 10px;
  text-align: justify;
  line-height: 11.5px;
  margin-top: 4px;
}

.exp2 {
  padding-top: 13px;
}

.exp3 {
  padding-top: 13px;
}

.exp4 {
  padding-top: 4px;
}
.exp5 {
  padding-top: 13px;
}

.educacao {
  margin-top: -20px;
  width: 360px;
  
}
.adicional{
  display: flexbox;
  justify-content: left;
  line-height: 10px;
  margin-top: 30px;
}
.adicional1 {
  font-size: 15;
  margin-bottom: 20px;
}
.adicional2 {
  font-size: 11px;
  
}

.adicional3 {
  font-size: 10px;
  margin-top: -10px;
}

.adicional4 {
  font-size: 11px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.adicional5 {
  font-size: 10px;
  padding-top: -10px;
  
}
.adic {
  display: contents;
  justify-content: left;
  
}

.adic1{
  margin-top: 10px;
  line-height: 10px;
}

.adic2 {
  margin-top: 10px;
  line-height: 10px;
}
a {
  color: rgb(11, 136, 219);
}